<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">

<body>

<div class="container">
      <form style="width: 400px; margin: auto" th:action="@{/children/save}" th:object="${baby}" method="post">
        <div class="uk-margin">
            <label>Imię</label>
            <input th:field="*{name}" class="uk-input" type="text">
        </div>
        <div class="uk-margin">
            <label>ID</label>
            <input th:field="*{id}" class="uk-input" type="number">
        </div>

        <input th:field="*{id}" hidden type="number">
        <a th:href="@{/children}"><input class="uk-button uk-button-danger" type="button" value="Anuluj"></a>
        <input class="uk-button uk-button-primary" type="submit" value="Zapisz">
    </form>
</div>
</body>
</html>
