<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::.container})}">
<body>
<div class="container">
    <h2>Dzieci</h2>
    <table class="uk-table uk-table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imię</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="baby : ${children}">
            <td th:text="${baby.id}"></td>
            <td th:text="${baby.name}"></td>
            <td style="width: 250px">
                <a th:href="@{/children/select/{id}(id=${baby.id})}"><input class="uk-button uk-button-primary" value="Dodaj zdarzenie" type="button"></a>
                <a th:href="@{/children/edit/{id}(id=${baby.id})}"><input class="uk-button uk-button-primary" value="Edytuj" type="button"></a>
                <a th:href="@{/children/remove/{id}(id=${baby.id})}"><input class="uk-button uk-button-danger" value="Usuń" type="button"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{children/new}"><input style="background-color: #32d296; color: white" class="uk-button" value="Dodaj Dziecko" type="button"></a>
    </div>
</div>

</body>
</html>
